<div class="order-tracker">
  <div>
    <h2>Select food for {{orderManager.selectedDay}}!</h2>
  </div>
  <hr>
  {{#each-in orderManager.menuSelection as |day menuOrder|}}
  <div {{action 'setDayTo' day}}>
    <p class="day">{{day}}</p>
    <dl>
      <dt><em>Breackfast</em></dt>
      <dd>
        {{#if menuOrder.breakfast}}
          {{menuOrder.breakfast}} <span class="remove-item" {{action 'remove' day 'breakfast'}}>
            &#10006;</span>
        {{/if}}
      </dd>
      <dt><em>Lunch</em></dt>
      <dd>
        {{#if menuOrder.lunch}}
        {{menuOrder.lunch}} <span class="remove-item" {{action 'remove' day 'lunch'}}>
          &#10006;</span>
          {{/if}}
      </dd>
      <dt><em>Dinner</em></dt>
      <dd>
        {{#if menuOrder.dinner}}
        {{menuOrder.dinner}} <span class="remove-item" {{action 'remove' day 'dinner'}}>
          &#10006;</span>
          {{/if}}
      </dd>
    </dl>
  </div>
  <hr>
  {{/each-in}}
</div>

{{yield}}
